{{ define "main" }}
<article class="list-page">
  <header class="list-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}
      <p class="list-description">{{ . }}</p>
    {{ end }}
  </header>

  <div class="list-content">
    {{ .Content }}
  </div>

  <section class="list-posts">
    {{- range .Paginator.Pages.GroupByDate "2006" }}
      <h2 class="list-year">{{ .Key }}</h2>
      {{- range .Pages }}
        <article class="post-preview">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <div class="post-preview__meta">
            <address class="post-author">{{ .Params.author | default site.Params.author }}</address>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
            {{- with .Params.tags }}
              <span class="post-tags">
                {{- range . }}
                  <a href="{{ site.BaseURL }}tags/{{ . | urlize }}" class="post-tag">{{ . }}</a>
                {{- end }}
              </span>
            {{- end }}
          </div>
          {{- if .Summary }}
            <p class="post-preview__desc">{{ .Summary | plainify }}</p>
            <a href="{{ .RelPermalink }}" class="read-more">{{ i18n "read_more" }}</a>
          {{- end }}
        </article>
      {{- end }}
    {{- end }}
  </section>
  {{- template "_internal/pagination.html" . }}
</article>
{{ end }}
